.service-container {
    font-family: 'Arial, sans-serif';
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}

.service-header {
    margin-bottom: 40px;
}

.service-header h1 {
    font-size: 2em;
    color: #333;
    font-weight: bold;
}

.service-highlight {
    color: #E37423;
}

.service-header p {
    font-size: 1.1em;
    color: #666;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.service-icon {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.service-education {
    background-image: url('path-to-education-icon');
}

.service-healthcare {
    background-image: url('path-to-healthcare-icon');
}

.service-community {
    background-image: url('path-to-community-icon');
}

.service-card h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 1em;
    color: #777;
    margin: 20px 0;
}

.service-button {
    background-color:#E37423;
    color: white;
    border: none;
    border-radius: 5px;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.service-button:hover {
    background-color: #e87420;
}

/* Responsive Design */
@media (max-width: 768px) {
    .service-card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .service-header h1 {
        font-size: 1.5em;
    }

    .service-header p {
        font-size: 1em;
    }

    .service-card {
        width: 100%;
    }

    .service-card h2 {
        font-size: 1.2em;
    }

    .service-card p {
        font-size: 0.9em;
    }
}
